# --- Application Secrets ---
APP_USERNAME=admin
APP_PASSWORD=your_secure_password
SESSION_SECRET=change_this_to_a_random_string

# --- OSM Dashboard ---
# Put your full URL here including the user code
DASHBOARD_URL=https://www.dashboardlive.nz/index.php?user=YOUR_CODE_HERE
SCRAPING_INTERVAL=60

# --- Email Configuration ---
SMTP_SERVICE=gmail
SMTP_USER=sender@yourdomain.com
SMTP_PASS=your-app-password-here
EMAIL_FROM="FENZ OSM Manager" <sender@yourdomain.com>

# --- UI Customization ---
UI_LOGIN_TITLE=Station 12 OSM Manager
# Leave these commented out to use the default files inside the container
# UI_LOGO_URL=
# UI_BACKGROUND_URL=


# --- for Docker installation on Google Run---
# Ensure this bucket exists and is accessible by your application
GCS_BUCKET_NAME=your-gcs-bucket-name    
# Path to the SQLite database file 
DB_PATH=/app/fenz.db    
